<h1>Contact form</h1>

<form (ngSubmit)="onSubmit()" [formGroup]="contactForm">
   <div class="mg-4">
    <label for="name" class="form-label">Name</label>
    <input type="text" class="form-control" id="name" required name="name" formControlName="name">
    <div *ngIf="contactForm.get('name')?.touched && contactForm.get('name')?.errors?.['required']" class="alert alert-danger">This field is required</div>
    <div *ngIf="contactForm.get('name')?.touched && contactForm.get('name')?.errors?.['minlength']" class="alert alert-danger">Name must be longer than {{contactForm.get('name')?.errors?.['minlength']?.requiredLength}} characters long</div>
   </div>
   <div class="mg-4 form-check">
    <label for="age" class="form-label">Are you over 18 years of age?</label>
    <input type="checkbox" class="form-check-input" id="checkAdult" name="age" formControlName="age" required>
    <div *ngIf="contactForm.get('age')?.touched && contactForm.get('age')?.errors?.['required']" class="alert alert-danger">This field is required</div>
   </div>
   <div class="mg-4">
    <label for="name" class="form-label">Department</label>
    <select name="department" id="department" class="form-select form-select-sm" formControlName="department">
    <option selected>Open this select menu</option>
    <option value="marketing">Marketing</option>
    <option value="sales">Sales</option>
    <option value="other">Other</option>
    </select>
   </div>
   <div class="mg-4">
    <label for="comment" class="form-label">Comment</label>
    <textarea name="comment" id="comment" rows="4" placeholder="Leave a comment..." class="form-control" formControlName="comment" required></textarea>
    <div *ngIf="contactForm.get('comment')?.touched && contactForm.get('comment')?.errors?.['required']" class="alert alert-danger">This field is required</div>
   </div>
   <div class="float-end d-grid gap-2 col-4">
    <button type="submit" class="btn btn-info btn-lg" [disabled]="contactForm.invalid">Send</button>
   </div>
</form>


