<div class="container">
  <div class="row">
    <div class="col-md-12 my-3">
      <app-form-new-item (newItemEvent)="addNewCity($event)" [label]="'City'" [className]="'btn-info'"></app-form-new-item>
    </div>
    <div class="col-md-8">
      <app-cities *ngFor="let city of cities" (citySelectedEvent)="onCitySelected($event)" (cityDeleteEvent)="onCityDelete($event)" [city]="city" [selection]="selection"></app-cities>
    </div>
      <div class="col-md-4">
        <div *ngIf="selection">
          <p>Your city is: {{selection}}</p>
          <app-button (click)="onClear()" [color]="'blue'" [label]="'Clear'"></app-button>
        </div>
    
    </div>
  </div>
  <app-contact-reactive></app-contact-reactive>
</div>

